
nav{
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: flex-end;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 25px;
}

nav ul{
    display: flex;
    flex-direction: row;
    margin: 10px;


}

nav li{
    margin-left: 30px;
    cursor: pointer;
}
.nav{
    flex-wrap: wrap;
}

@media screen and (max-width: 735px){
    nav li{
        margin-bottom: 10px;
    }
}