#slider{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    height: 450px;
    background-color: #0d5182;
    align-items: center;
    justify-content: center;
}


#slider img{
    width: 40%;
}
.slide{
    transition-duration: 1s ease;
}
.slider-info {
    display: flex;
    flex-direction: row;
    margin: 25px;
    width:auto;
    background-color: #fff;
    width: 40%;
    height: 300px;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#slider-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.slider-dates{
    border: 1px solid black;
}