.App{
    width: 100vw;
    height: 100%;
    margin:0;
    background-color: #ffffff;
    color: #0d5182;
    overflow: hidden;
}

ul{
    list-style-type: none;
}

button, input[type="submit"], input[type="text"] {
	background: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color:white;
   
}

::placeholder {
    color: white;
  }
  select {
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
}

